 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    .
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align:center;
    Font-Family:fantasy;
    
    
    
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: 12px;
    color: #888;
}
header{
    color:red;
    font-family:cursive;
    font-width:50px;
    text-align:center;
}


